Preliminaries

In [1]:
############### Uncomment the code below for google collab ####################################################
#!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#!wget -q https://archive.apache.org/dist/spark/spark-3.2.0/spark-3.2.0-bin-hadoop3.2.tgz
#!tar xf spark-3.2.0-bin-hadoop3.2.tgz
#!pip install -q findspark

In [2]:
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'

In [3]:
############### Uncomment the code below for google collab ####################################################
#os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
#os.environ["SPARK_HOME"] = "spark-3.2.0-bin-hadoop3.2"

In [4]:
import findspark
findspark.init()

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = spark.sparkContext
sc

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/07 15:52:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/12/07 15:52:41 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/12/07 15:52:41 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/12/07 15:52:41 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [6]:
import pyspark.sql
from pyspark.sql import Row
from pyspark.sql.types import *
import json

In [7]:
import numpy as np
import math
import pandas as pd
np.set_printoptions(precision = 10, suppress = True)

In [8]:
#check the output to see what files still need to be processed
completed = os.listdir('/home/bcavna/Documents/ERA5/processed/smaller/')

finished = []
for c in completed:
    finished.append(c[5:13])
    
checkfiles = list(set(finished))
checkfiles.sort()
print(checkfiles)

['20110101', '20110102', '20110103', '20110104', '20110105', '20110106', '20110107', '20110108', '20110109', '20110110', '20110111', '20110112', '20110113', '20110114', '20110115', '20110116', '20110117', '20110118', '20110119', '20110120', '20110121', '20110122', '20110123', '20110124', '20110125', '20110126', '20110127', '20110128', '20110129', '20110130', '20110201', '20110202', '20110203', '20110204', '20110205', '20110206', '20110207', '20110208', '20110209', '20110210', '20110211', '20110212', '20110213', '20110214', '20110215', '20110216', '20110217', '20110218', '20110219', '20110220', '20110221', '20110222', '20110223', '20110224', '20110225', '20110226', '20110227', '20110228', '20110229', '20110230', '20110301', '20110302', '20110303', '20110304', '20110305', '20110306', '20110307', '20110308', '20110309', '20110310', '20110311', '20110312', '20110313', '20110314', '20110315', '20110316', '20110317', '20110318', '20110319', '20110320', '20110321', '20110322', '20110323', '20110324', '20110325', '20110326', '20110327', '20110328', '20110329', '20110330', '20110401', '20110402', '20110403', '20110404', '20110405', '20110406', '20110407', '20110408', '20110409', '20110410', '20110411', '20110412', '20110413', '20110414', '20110415', '20110416', '20110417', '20110418', '20110419', '20110420', '20110421', '20110422', '20110423', '20110424', '20110425', '20110426', '20110427', '20110428', '20110429', '20110430', '20110501', '20110502', '20110503', '20110504', '20110505', '20110506', '20110507', '20110508', '20110509', '20110510', '20110511', '20110512', '20110513', '20110514', '20110515', '20110516', '20110517', '20110518', '20110519', '20110520', '20110521', '20110522', '20110523', '20110524', '20110525', '20110526', '20110527', '20110528', '20110529', '20110530', '20110601', '20110602', '20110603', '20110604', '20110605', '20110606', '20110607', '20110608', '20110609', '20110610', '20110611', '20110612', '20110613', '20110614', '20110615', '20110616', '20110617', '20110618', '20110619', '20110620', '20110621', '20110622', '20110623', '20110624', '20110625', '20110626', '20110627', '20110628', '20110629', '20110630', '20110701', '20110702', '20110703', '20110704', '20110705', '20110706', '20110707', '20110708', '20110709', '20110710', '20110711', '20110712', '20110713', '20110714', '20110715', '20110716', '20110717', '20110718', '20110719', '20110720', '20110721', '20110722', '20110723', '20110724', '20110725', '20110726', '20110727', '20110728', '20110729', '20110730', '20110801', '20110802', '20110803', '20110804', '20110805', '20110806', '20110807', '20110808', '20110809', '20110810', '20110811', '20110812', '20110813', '20110814', '20110815', '20110816', '20110817', '20110818', '20110819', '20110820', '20110821', '20110822', '20110823', '20110824', '20110825', '20110826', '20110827', '20110828', '20110829', '20110830', '20110901', '20110902', '20110903', '20110904', '20110905', '20110906', '20110907', '20110908', '20110909', '20110910', '20110911', '20110912', '20110913', '20110914', '20110915', '20110916', '20110917', '20110918', '20110919', '20110920', '20110921', '20110922', '20110923', '20110924', '20110925', '20110926', '20110927', '20110928', '20110929', '20110930', '20111001', '20111002', '20111003', '20111004', '20111005', '20111006', '20111007', '20111008', '20111009', '20111010', '20111011', '20111012', '20111013', '20111014', '20111015', '20111016', '20111017', '20111018', '20111019', '20111020', '20111021', '20111022', '20111023', '20111024', '20111025', '20111026', '20111027', '20111028', '20111029', '20111030', '20111101', '20111102', '20111103', '20111104', '20111105', '20111106', '20111107', '20111108', '20111109', '20111110', '20111111', '20111112', '20111113', '20111114', '20111115', '20111116', '20111117', '20111118', '20111119', '20111120', '20111121', '20111122', '20111123', '20111124', '20111125', '20111126', '20111127', '20111128', '20111129', '20111130', '20111201', '20111202', '20111203', '20111204', '20111205', '20111206', '20111207', '20111208', '20111209', '20111210', '20111211', '20111212', '20111213', '20111214', '20111215', '20111216', '20111217', '20111218', '20111219', '20111220', '20111221', '20111222', '20111223', '20111224', '20111225', '20111226', '20111227', '20111228', '20111229', '20111230', '20120101', '20120102', '20120103', '20120104', '20120105', '20120106', '20120107', '20120108', '20120109', '20120110', '20120111', '20120112', '20120113', '20120114', '20120115', '20120116', '20120117', '20120118', '20120119', '20120120', '20120121', '20120122', '20120123', '20120124', '20120125', '20120126', '20120127', '20120128', '20120129', '20120130', '20120201', '20120202', '20120203', '20120204', '20120205', '20120206', '20120207', '20120208', '20120209', '20120210', '20120211', '20120212', '20120213', '20120214', '20120215', '20120216', '20120217', '20120218', '20120219', '20120220', '20120221', '20120222', '20120223', '20120224', '20120225', '20120226', '20120227', '20120228', '20120229', '20120230', '20120301', '20120302', '20120303', '20120304', '20120305', '20120306', '20120307', '20120308', '20120309', '20120310', '20120311', '20120312', '20120313', '20120314', '20120315', '20120316', '20120317', '20120318', '20120319', '20120320', '20120321', '20120322', '20120323', '20120324', '20120325', '20120326', '20120327', '20120328', '20120329', '20120330', '20120401', '20120402', '20120403', '20120404', '20120405', '20120406', '20120407', '20120408', '20120409', '20120410', '20120411', '20120412', '20120413', '20120414', '20120415', '20120416', '20120417', '20120418', '20120419', '20120420', '20120421', '20120422', '20120423', '20120424', '20120425', '20120426', '20120427', '20120428', '20120429', '20120430', '20120501', '20120502', '20120503', '20120504', '20120505', '20120506', '20120507', '20120508', '20120509', '20120510', '20120511', '20120512', '20120513', '20120514', '20120515', '20120516', '20120517', '20120518', '20120519', '20120520', '20120521', '20120522', '20120523', '20120524', '20120525', '20120526', '20120527', '20120528', '20120529', '20120530', '20120601', '20120602', '20120603', '20120604', '20120605', '20120606', '20120607', '20120608', '20120609', '20120610', '20120611', '20120612', '20120613', '20120614', '20120615', '20120616', '20120617', '20120618', '20120619', '20120620', '20120621', '20120622', '20120623', '20120624', '20120625', '20120626', '20120627', '20120628', '20120629', '20120630', '20120701', '20120702', '20120703', '20120704', '20120705', '20120706', '20120707', '20120708', '20120709', '20120710', '20120711', '20120712', '20120713', '20120714', '20120715', '20120716', '20120717', '20120718', '20120719', '20120720', '20120721', '20120722', '20120723', '20120724', '20120725', '20120726', '20120727', '20120728', '20120729', '20120730', '20120801', '20120802', '20120803', '20120804', '20120805', '20120806', '20120807', '20120808', '20120809', '20120810', '20120811', '20120812', '20120813', '20120814', '20120815', '20120816', '20120817', '20120818', '20120819', '20120820', '20120821', '20120822', '20120823', '20120824', '20120825', '20120826', '20120827', '20120828', '20120829', '20120830', '20120901', '20120902', '20120903', '20120904', '20120905', '20120906', '20120907', '20120908', '20120909', '20120910', '20120911', '20120912', '20120913', '20120914', '20120915', '20120916', '20120917', '20120918', '20120919', '20120920', '20120921', '20120922', '20120923', '20120924', '20120925', '20120926', '20120927', '20120928', '20120929', '20120930', '20121001', '20121002', '20121003', '20121004', '20121005', '20121006', '20121007', '20121008', '20121009', '20121010', '20121011', '20121012', '20121013', '20121014', '20121015', '20121016', '20121017', '20121018', '20121019', '20121020', '20121021', '20121022', '20121023', '20121024', '20121025', '20121026', '20121027', '20121028', '20121029', '20121030', '20121101', '20121102', '20121103', '20121104', '20121105', '20121106', '20121107', '20121108', '20121109', '20121110', '20121111', '20121112', '20121113', '20121114', '20121115', '20121116', '20121117', '20121118', '20121119', '20121120', '20121121', '20121122', '20121123', '20121124', '20121125', '20121126', '20121127', '20121128', '20121129', '20121130', '20121201', '20121202', '20121203', '20121204', '20121205', '20121206', '20121207', '20121208', '20121209', '20121210', '20121211', '20121212', '20121213', '20121214', '20121215', '20121216', '20121217', '20121218', '20121219', '20121220', '20121221', '20121222', '20121223', '20121224', '20121225', '20121226', '20121227', '20121228', '20121229', '20121230', '20130101', '20130102', '20130103', '20130104', '20130105', '20130106', '20130107', '20130108', '20130109', '20130110', '20130111', '20130112', '20130113', '20130114', '20130115', '20130116', '20130117', '20130118', '20130119', '20130120', '20130121', '20130122', '20130123', '20130124', '20130125', '20130126', '20130127', '20130128', '20130129', '20130130', '20130201', '20130202', '20130203', '20130204', '20130205', '20130206', '20130207', '20130208', '20130209', '20130210', '20130211', '20130212', '20130213', '20130214', '20130215', '20130216', '20130217', '20130218', '20130219', '20130220', '20130221', '20130222', '20130223', '20130224', '20130225', '20130226', '20130227', '20130228', '20130229', '20130230', '20130301', '20130302', '20130303', '20130304', '20130305', '20130306', '20130307', '20130308', '20130309', '20130310', '20130311', '20130312', '20130313', '20130314', '20130315', '20130316', '20130317', '20130318', '20130319', '20130320', '20130321', '20130322', '20130323', '20130324', '20130325', '20130326', '20130327', '20130328', '20130329', '20130330', '20130401', '20130402', '20130403', '20130404', '20130405', '20130406', '20130407', '20130408', '20130409', '20130410', '20130411', '20130412', '20130413', '20130414', '20130415', '20130416', '20130417', '20130418', '20130419', '20130420', '20130421', '20130422', '20130423', '20130424', '20130425', '20130426', '20130427', '20130428', '20130429', '20130430', '20130501', '20130502', '20130503', '20130504', '20130505', '20130506', '20130507', '20130508', '20130509', '20130510', '20130511', '20130512', '20130513', '20130514', '20130515', '20130516', '20130517', '20130518', '20130519', '20130520', '20130521', '20130522', '20130523', '20130524', '20130525', '20130526', '20130527', '20130528', '20130529', '20130530', '20130601', '20130602', '20130603', '20130604', '20130605', '20130606', '20130607', '20130608', '20130609', '20130610', '20130611', '20130612', '20130613', '20130614', '20130615', '20130616', '20130617', '20130618', '20130619', '20130620', '20130621', '20130622', '20130623', '20130624', '20130625', '20130626', '20130627', '20130628', '20130629', '20130630', '20130701', '20130702', '20130703', '20130704', '20130705', '20130706', '20130707', '20130708', '20130709', '20130710', '20130711', '20130712', '20130713', '20130714', '20130715', '20130716', '20130717', '20130718', '20130719', '20130720', '20130721', '20130722', '20130723', '20130724', '20130725', '20130726', '20130727', '20130728', '20130729', '20130730', '20130801', '20130802', '20130803', '20130804', '20130805', '20130806', '20130807', '20130808', '20130809', '20130810', '20130811', '20130812', '20130813', '20130814', '20130815', '20130816', '20130817', '20130818', '20130819', '20130820', '20130821', '20130822', '20130823', '20130824', '20130825', '20130826', '20130827', '20130828', '20130829', '20130830', '20130901', '20130902', '20130903', '20130904', '20130905', '20130906', '20130907', '20130908', '20130909', '20130910', '20130911', '20130912', '20130913', '20130914', '20130915', '20130916', '20130917', '20130918', '20130919', '20130920', '20130921', '20130922', '20130923', '20130924', '20130925', '20130926', '20130927', '20130928', '20130929', '20130930', '20131001', '20131002', '20131003', '20131004', '20131005', '20131006', '20131007', '20131008', '20131009', '20131010', '20131011', '20131012', '20131013', '20131014', '20131015', '20131016', '20131017', '20131018', '20131019', '20131020', '20131021', '20131022', '20131023', '20131024', '20131025', '20131026', '20131027', '20131028', '20131029', '20131030', '20131101', '20131102', '20131103', '20131104', '20131105', '20131106', '20131107', '20131108', '20131109', '20131110', '20131111', '20131112', '20131113', '20131114', '20131115', '20131116', '20131117', '20131118', '20131119', '20131120', '20131121', '20131122', '20131123', '20131124', '20131125', '20131126', '20131127', '20131128', '20131129', '20131130', '20131201', '20131202', '20131203', '20131204', '20131205', '20131206', '20131207', '20131208', '20131209', '20131210', '20131211', '20131212', '20131213', '20131214', '20131215', '20131216', '20131217', '20131218', '20131219', '20131220', '20131221', '20131222', '20131223', '20131224', '20131225', '20131226', '20131227', '20131228', '20131229', '20131230', '20140101', '20140102', '20140103', '20140104', '20140105', '20140106', '20140107', '20140108', '20140109', '20140110', '20140111', '20140112', '20140113', '20140114', '20140115', '20140116', '20140117', '20140118', '20140119', '20140120', '20140121', '20140122', '20140123', '20140124', '20140125', '20140126', '20140127', '20140128', '20140129', '20140130', '20140201', '20140202', '20140203', '20140204', '20140205', '20140206', '20140207', '20140208', '20140209', '20140210', '20140211', '20140212', '20140213', '20140214', '20140215', '20140216', '20140217', '20140218', '20140219', '20140220', '20140221', '20140222', '20140223', '20140224', '20140225', '20140226', '20140227', '20140228', '20140229', '20140230', '20140301', '20140302', '20140303', '20140304', '20140305', '20140306', '20140307', '20140308', '20140309', '20140310', '20140311', '20140312', '20140313', '20140314', '20140315', '20140316', '20140317', '20140318', '20140319', '20140320', '20140321', '20140322', '20140323', '20140324', '20140325', '20140326', '20140327', '20140328', '20140329', '20140330', '20140401', '20140402', '20140403', '20140404', '20140405', '20140406', '20140407', '20140408', '20140409', '20140410', '20140411', '20140412', '20140413', '20140414', '20140415', '20140416', '20140417', '20140418', '20140419', '20140420', '20140421', '20140422', '20140423', '20140424', '20140425', '20140426', '20140427', '20140428', '20140429', '20140430', '20140501', '20140502', '20140503', '20140504', '20140505', '20140506', '20140507', '20140508', '20140509', '20140510', '20140511', '20140512', '20140513', '20140514', '20140515', '20140516', '20140517', '20140518', '20140519', '20140520', '20140521', '20140522', '20140523', '20140524', '20140525', '20140526', '20140527', '20140528', '20140529', '20140530', '20140601', '20140602', '20140603', '20140604', '20140605', '20140606', '20140607', '20140608', '20140609', '20140610', '20140611', '20140612', '20140613', '20140614', '20140615', '20140616', '20140617', '20140618', '20140619', '20140620', '20140621', '20140622', '20140623', '20140624', '20140625', '20140626', '20140627', '20140628', '20140629', '20140630', '20140701', '20140702', '20140703', '20140704', '20140705', '20140706', '20140707', '20140708', '20140709', '20140710', '20140711', '20140712', '20140713', '20140714', '20140715', '20140716', '20140717', '20140718', '20140719', '20140720', '20140721', '20140722', '20140723', '20140724', '20140725', '20140726', '20140727', '20140728', '20140729', '20140730', '20140801', '20140802', '20140803', '20140804', '20140805', '20140806', '20140807', '20140808', '20140809', '20140810', '20140811', '20140812', '20140813', '20140814', '20140815', '20140816', '20140817', '20140818', '20140819', '20140820', '20140821', '20140822', '20140823', '20140824', '20140825', '20140826', '20140827', '20140828', '20140829', '20140830', '20140901', '20140902', '20140903', '20140904', '20140905', '20140906', '20140907', '20140908', '20140909', '20140910', '20140911', '20140912', '20140913', '20140914', '20140915', '20140916', '20140917', '20140918', '20140919', '20140920', '20140921', '20140922', '20140923', '20140924', '20140925', '20140926', '20140927', '20140928', '20140929', '20140930', '20141001', '20141002', '20141003', '20141004', '20141005', '20141006', '20141007', '20141008', '20141009', '20141010', '20141011', '20141012', '20141013', '20141014', '20141015', '20141016', '20141017', '20141018', '20141019', '20141020', '20141021', '20141022', '20141023', '20141024', '20141025', '20141026', '20141027', '20141028', '20141029', '20141030', '20141101', '20141102', '20141103', '20141104', '20141105', '20141106', '20141107', '20141108', '20141109', '20141110', '20141111', '20141112', '20141113', '20141114', '20141115', '20141116', '20141117', '20141118', '20141119', '20141120', '20141121', '20141122', '20141123', '20141124', '20141125', '20141126', '20141127', '20141128', '20141129', '20141130', '20141201', '20141202', '20141203', '20141204', '20141205', '20141206', '20141207', '20141208', '20141209', '20141210', '20141211', '20141212', '20141213', '20141214', '20141215', '20141216', '20141217', '20141218', '20141219', '20141220', '20141221', '20141222', '20141223', '20141224', '20141225', '20141226', '20141227', '20141228', '20141229', '20141230', '20150101', '20150102', '20150103', '20150104', '20150105', '20150106', '20150107', '20150108', '20150109', '20150110', '20150111', '20150112', '20150113', '20150114', '20150115', '20150116', '20150117', '20150118', '20150119', '20150120', '20150121', '20150122', '20150123', '20150124', '20150125', '20150126', '20150127', '20150128', '20150129', '20150130', '20150201', '20150202', '20150203', '20150204', '20150205', '20150206', '20150207', '20150208', '20150209', '20150210', '20150211', '20150212', '20150213', '20150214', '20150215', '20150216', '20150217', '20150218', '20150219', '20150220', '20150221', '20150222', '20150223', '20150224', '20150225', '20150226', '20150227', '20150228', '20150229', '20150230', '20150301', '20150302', '20150303', '20150304', '20150305', '20150306', '20150307', '20150308', '20150309', '20150310', '20150311', '20150312', '20150313', '20150314', '20150315', '20150316', '20150317', '20150318', '20150319', '20150320', '20150321', '20150322', '20150323', '20150324', '20150325', '20150326', '20150327', '20150328', '20150329', '20150330', '20150401', '20150402', '20150403', '20150404', '20150405', '20150406', '20150407', '20150408', '20150409', '20150410', '20150411', '20150412', '20150413', '20150414', '20150415', '20150416', '20150417', '20150418', '20150419', '20150420', '20150421', '20150422', '20150423', '20150424', '20150425', '20150426', '20150427', '20150428', '20150429', '20150430', '20150501', '20150502', '20150503', '20150504', '20150505', '20150506', '20150507', '20150508', '20150509', '20150510', '20150511', '20150512', '20150513', '20150514', '20150515', '20150516', '20150517', '20150518', '20150519', '20150520', '20150521', '20150522', '20150523', '20150524', '20150525', '20150526', '20150527', '20150528', '20150529', '20150530', '20150601', '20150602', '20150603', '20150604', '20150605', '20150606', '20150607', '20150608', '20150609', '20150610', '20150611', '20150612', '20150613', '20150614', '20150615', '20150616', '20150617', '20150618', '20150619', '20150620', '20150621', '20150622', '20150623', '20150624', '20150625', '20150626', '20150627', '20150628', '20150629', '20150630', '20150701', '20150702', '20150703', '20150704', '20150705', '20150706', '20150707', '20150708', '20150709', '20150710', '20150711', '20150712', '20150713', '20150714', '20150715', '20150716', '20150717', '20150718', '20150719', '20150720', '20150721', '20150722', '20150723', '20150724', '20150725', '20150726', '20150727', '20150728', '20150729', '20150730', '20150801', '20150802', '20150803', '20150804', '20150805', '20150806', '20150807', '20150808', '20150809', '20150810', '20150811', '20150812', '20150813', '20150814', '20150815', '20150816', '201508

Assign input/output file paths

In [9]:
############### Uncomment the code below for google collab ####################################################
#from google.colab import drive
#drive.mount('/content/drive')

In [10]:
pwd

'/home/bcavna/Documents/ERA5'

In [11]:
cd '/home/bcavna/Documents'

/home/bcavna/Documents

In [12]:
m = 1

In [13]:
y = 2022
y2 = 2021

In [14]:
yearmo = y * 100 + m
print(yearmo)

202201

In [15]:
yearmo2 = y2 * 100 + m
print(yearmo2)

202101

In [16]:
#use this path for google collab : mthly = '/content/drive/My Drive/ERA5/monthly/ERA5_'+ str(yearmo) + '.csv'
mthly = '/home/bcavna/Documents/ERA5/monthly/ERA5_'+ str(yearmo) + '.csv'
print(mthly)

/home/bcavna/Documents/ERA5/monthly/ERA5_202201.csv

In [17]:
output_ws = '/home/bcavna/Documents/ERA5/processed/normvals/WS/WS_FREQ_'+ str(yearmo) + '.csv'
print(output_ws)

/home/bcavna/Documents/ERA5/processed/normvals/WS/WS_FREQ_202201.csv

In [18]:
output_wd = '/home/bcavna/Documents/ERA5/processed/normvals/WD/WD_FREQ_'+ str(yearmo) + '.csv'
print(output_wd)

/home/bcavna/Documents/ERA5/processed/normvals/WD/WD_FREQ_202201.csv

In [19]:
output_vv = '/home/bcavna/Documents/ERA5/processed/normvals/VV/VV_FREQ_'+ str(yearmo) + '.csv'
print(output_vv)

/home/bcavna/Documents/ERA5/processed/normvals/VV/VV_FREQ_202201.csv

In [20]:
mthly2 = '/home/bcavna/Documents/ERA5/ERA5_VV_RH_2021/ERA5_VV_RH_' + str(yearmo2) + '.csv'
print(mthly2)

/home/bcavna/Documents/ERA5/ERA5_VV_RH_2021/ERA5_VV_RH_202101.csv

Get main features file

In [21]:
rawdataDF = spark.read.csv(mthly, header="true")
rawdataDF.createOrReplaceTempView("features")
rawdataDF.show(2)

+-------------------+-----+--------+---------+-------------+---------+--------+---------+
|               time|level|latitude|longitude|            q|        t|       u|        v|
+-------------------+-----+--------+---------+-------------+---------+--------+---------+
|2022-01-01 00:00:00|    1|    42.0|    -89.0|4.1224994e-06|266.58505|41.62961|26.744812|
|2022-01-01 00:00:00|    1|    42.0|   -88.75|4.1224994e-06| 266.6099| 40.8252|27.131168|
+-------------------+-----+--------+---------+-------------+---------+--------+---------+
only showing top 2 rows

Output average wind speed and direction data that will be needed for normalization later

In [22]:
uvDF = spark.sql("SELECT u,v from features")
uvDF.show(5)

+---------+---------+
|        u|        v|
+---------+---------+
| 41.62961|26.744812|
|  40.8252|27.131168|
| 40.02079|27.425846|
|39.263992|27.609201|
|38.559822| 27.67032|
+---------+---------+
only showing top 5 rows

In [23]:
wind_speedR = uvDF.rdd.map(lambda x: round(np.linalg.norm([float(x[0]),float(x[1])]),0)).map(lambda x: float(x)).map(lambda p: Row(ws=p))
wind_speedR.take(2)

[Row(ws=49.0), Row(ws=49.0)]

In [24]:
wind_speedDF = spark.createDataFrame(wind_speedR)
wind_speedDF.createOrReplaceTempView("ws")
wind_speedDF.show(5,truncate=False)

+----+
|ws  |
+----+
|49.0|
|49.0|
|49.0|
|48.0|
|47.0|
+----+
only showing top 5 rows

In [25]:
wsDF = spark.sql("SELECT ws AS WS_SUM, COUNT(ws) AS WS_COUNT from ws GROUP BY ws ORDER BY ws")
#wsDF.show(5)

In [26]:
wsPD = wsDF.toPandas()
wsPD.head()

   WS_SUM  WS_COUNT
0     0.0      7435
1     1.0     70733
2     2.0    161607
3     3.0    220470
4     4.0    245171

In [27]:
wsPD.to_csv(output_ws)

In [28]:
wind_dirR = uvDF.rdd.map(lambda x:[float(x[0]),float(x[1])]).map(lambda x: [x[0],x[1],np.arctan2(x[1],x[0])]).map(lambda x: round(180+float(x[2])*180/math.pi),0).map(lambda p: Row(wd=p))
wind_dirR.take(3)

[Row(wd=213), Row(wd=214), Row(wd=214)]

In [29]:
wind_dirDF = spark.createDataFrame(wind_dirR)
wind_dirDF.createOrReplaceTempView("wd")
wind_dirDF.show(5,truncate=False)

+---+
|wd |
+---+
|213|
|214|
|214|
|215|
|216|
+---+
only showing top 5 rows

In [30]:
#review arctan calculation to understand how it works
check = np.arctan2(-23,7)
check2 = np.linalg.norm((float(-2),float(-23)))
print(check)
print(check2)

-1.2753554896511765
23.08679276123039

In [31]:
wdDF = spark.sql("SELECT wd, COUNT(1) AS WD_COUNT from wd GROUP BY wd ORDER BY wd")
#wdDF.show(500)

In [32]:
wdPD = wdDF.toPandas()
wdPD.head()

   wd  WD_COUNT
0   0      1462
1   1      2923
2   2      2969
3   3      3092
4   4      3195

In [33]:
wdPD.to_csv(output_wd)

Get vertical velocity of the wind (extracted separately)

In [34]:
rawdataDF2 = spark.read.csv(mthly2, header="true")
rawdataDF2.createOrReplaceTempView("features2")
rawdataDF2.show(2)

+-------------------+-----+--------+---------+-------------+------------+
|               time|level|latitude|longitude|            w|           r|
+-------------------+-----+--------+---------+-------------+------------+
|2021-01-01 00:00:00|    1|    42.0|    -89.0|-0.0008459091|0.0004272461|
|2021-01-01 00:00:00|    1|    42.0|   -88.75|-0.0007045269|0.0004272461|
+-------------------+-----+--------+---------+-------------+------------+
only showing top 2 rows

In [35]:
vvDF = spark.sql("SELECT round(w,0) AS vv from features2")
vvDF.createOrReplaceTempView("vv")
vvDF.show(5)

+---+
| vv|
+---+
|0.0|
|0.0|
|0.0|
|0.0|
|0.0|
+---+
only showing top 5 rows

Output average vertical velocity that will be needed for normalization later

In [36]:
vvDF = spark.sql("SELECT vv, COUNT(1) AS VV_COUNT from vv GROUP BY vv ORDER BY vv")
vvDF.show(5)

+----+--------+
|  vv|VV_COUNT|
+----+--------+
|-7.0|       6|
|-6.0|      67|
|-5.0|     312|
|-4.0|     958|
|-3.0|    3972|
+----+--------+
only showing top 5 rows

In [37]:
vvPD = vvDF.toPandas()
vvPD.head()

    vv  VV_COUNT
0 -7.0         6
1 -6.0        67
2 -5.0       312
3 -4.0       958
4 -3.0      3972

In [38]:
vvPD.to_csv(output_vv)

Get relative humidity (extracted separately)

In [39]:
mthly3 = mthly2 #'/home/bcavna/Documents/ERA5/monthly/ERA5_RH/ERA5_RH_'+ str(yearmo) + '.csv'
print(mthly3)

/home/bcavna/Documents/ERA5/ERA5_VV_RH_2021/ERA5_VV_RH_202101.csv

In [40]:
rawdataDF3 = spark.read.csv(mthly3, header="true")
rawdataDF3.createOrReplaceTempView("features3")
rawdataDF3.show(3)

+-------------------+-----+--------+---------+-------------+------------+
|               time|level|latitude|longitude|            w|           r|
+-------------------+-----+--------+---------+-------------+------------+
|2021-01-01 00:00:00|    1|    42.0|    -89.0|-0.0008459091|0.0004272461|
|2021-01-01 00:00:00|    1|    42.0|   -88.75|-0.0007045269|0.0004272461|
|2021-01-01 00:00:00|    1|    42.0|    -88.5|-0.0005633831|0.0004272461|
+-------------------+-----+--------+---------+-------------+------------+
only showing top 3 rows

Combine All Features

In [41]:
allFeatures = spark.sql("SELECT a.time, a.level, a.latitude, a.longitude, a.t, a.u, a.v, round(b.w,0) AS w, b.r FROM features a LEFT JOIN features3 b ON a.time = b.time AND a.level = b.level AND a.latitude = b.latitude AND a.longitude = b.longitude WHERE a.level*1 >=100")
allFeatures.createOrReplaceTempView("allFeatures")
allFeatures.show(10)

+-------------------+-----+--------+---------+---------+----------+----------+---+---------+
|               time|level|latitude|longitude|        t|         u|         v|  w|        r|
+-------------------+-----+--------+---------+---------+----------+----------+---+---------+
|2022-01-01 00:00:00|  100|    42.0|   -88.75| 212.2196| 47.185295| 4.9997272|0.0|4.3478546|
|2022-01-06 20:00:00|  700|   40.25|    -86.5|256.28036| 14.472649|-0.3066671|0.0|19.437172|
|2022-01-07 20:00:00|  100|    42.0|    -86.5|213.55652| 33.455208|-12.216042|0.0|3.5341492|
|2022-01-08 19:00:00|  225|    40.0|   -86.75|220.35072| 31.397821|  8.551147|0.0|30.115097|
|2022-01-13 16:00:00|  200|   38.75|    -88.5|222.05916| 20.504463|-26.626907|0.0|3.8181763|
|2022-01-19 12:00:00|  100|    42.0|   -87.75|216.05186| 27.709068| 0.7257987|0.0|2.9558563|
|2022-01-21 10:00:00|  950|    38.5|    -87.0| 262.2101|-5.4320984|-2.3956099|0.0|60.731293|
|2022-01-22 10:00:00|  100|    42.0|   -88.25| 218.4346| 22.218533| 1.5116079|0.0|2.1344757|
|2022-01-27 06:00:00|  700|    39.0|   -86.75|262.80252|  14.50272|-0.9244003|0.0|11.584175|
|2022-01-28 06:00:00|  100|    42.0|   -86.75|218.46385| 28.661327|-2.9653215|0.0|2.0602722|
+-------------------+-----+--------+---------+---------+----------+----------+---+---------+
only showing top 10 rows

In [42]:
#check = spark.sql("SELECT COUNT(1) FROM features a JOIN features2 b ON a.time = b.time AND a.level = b.level AND a.latitude = b.latitude" )
#check.take(5)

In [43]:
# all records: 12139848

Assign features to lat/lon cell ids

In [44]:
lonVals = [-89.0, -88.75, -88.5, -88.25, -88.0, -87.75, -87.5, -87.25, -87.0, -86.75, -86.5, -86.25, -86.0, -85.75, -85.5, -85.25, -85.0, -84.75, -84.5, -84.25, -84.0]

In [45]:
latVals = [42.0, 41.75, 41.5, 41.25, 41.0, 40.75, 40.5, 40.25, 40.0, 39.75, 39.5, 39.25, 39.0, 38.75, 38.5, 38.25, 38.0, 37.75, 37.5, 37.25, 37.0]

In [46]:
cells = []

def getCells(lon,lat):
  lonRange = range(len(lon))
  latRange = range(len(lat))
  n = 0
  for i in lonRange:
    for j in latRange:
      cells.append([n,lat[j],lon[i]])
      n = n + 1
  print("total cell count:",n)
  print(cells[:10])
getCells(lonVals,latVals)

total cell count: 441
[[0, 42.0, -89.0], [1, 41.75, -89.0], [2, 41.5, -89.0], [3, 41.25, -89.0], [4, 41.0, -89.0], [5, 40.75, -89.0], [6, 40.5, -89.0], [7, 40.25, -89.0], [8, 40.0, -89.0], [9, 39.75, -89.0]]

In [47]:
cellsR = sc.parallelize(cells)
cellsR.take(5)

[[0, 42.0, -89.0],
 [1, 41.75, -89.0],
 [2, 41.5, -89.0],
 [3, 41.25, -89.0],
 [4, 41.0, -89.0]]

In [48]:
labeledCellsR = cellsR.map(lambda p: Row(cell_id=p[0],lat=p[1],lon=p[2]))
labeledCellsR.take(5)

[Row(cell_id=0, lat=42.0, lon=-89.0),
 Row(cell_id=1, lat=41.75, lon=-89.0),
 Row(cell_id=2, lat=41.5, lon=-89.0),
 Row(cell_id=3, lat=41.25, lon=-89.0),
 Row(cell_id=4, lat=41.0, lon=-89.0)]

In [49]:
labeledCellsDF = spark.createDataFrame(labeledCellsR)
labeledCellsDF.createOrReplaceTempView("cellsDF")
labeledCellsDF.show(5)

+-------+-----+-----+
|cell_id|  lat|  lon|
+-------+-----+-----+
|      0| 42.0|-89.0|
|      1|41.75|-89.0|
|      2| 41.5|-89.0|
|      3|41.25|-89.0|
|      4| 41.0|-89.0|
+-------+-----+-----+
only showing top 5 rows

In [50]:
cellFeatures = spark.sql("SELECT CAST(LEFT(a.time,4) AS INTEGER) AS YEAR, CAST(RIGHT(LEFT(a.time,7),2) AS INTEGER) AS MONTH, CAST(RIGHT(LEFT(a.time,10),2) AS INTEGER) AS DAY, CAST(RIGHT(LEFT(a.time,13),2) AS INTEGER) AS HOUR, a.level, CAST(b.cell_id AS INTEGER) AS cell_id,  a.t, a.u, a.v, a.w, a.r FROM allFeatures a  JOIN cellsDF b  ON a.latitude = b.lat AND a.longitude = b.lon ")
cellFeatures.createOrReplaceTempView("cellFeatures")
cellFeatures.show(5)

+----+-----+---+----+-----+-------+---------+---------+---------+---+----------+
|YEAR|MONTH|DAY|HOUR|level|cell_id|        t|        u|        v|  w|         r|
+----+-----+---+----+-----+-------+---------+---------+---------+---+----------+
|2022|    1|  1|   0|  100|    418|206.79155| 39.67998|1.8390284|0.0| 10.409676|
|2022|    1|  1|   0|  100|    291| 207.5068| 37.37952| 1.267134|0.0|  9.468033|
|2022|    1|  1|   0|  100|    374|207.14552|38.198967|2.0071042|0.0|10.1154175|
|2022|    1|  1|   0|  100|    164|207.69696|  40.6999|1.1601765|0.0|  8.037659|
|2022|    1|  1|   0|  100|    394|207.18208| 38.70517|1.9961901|0.0|  9.841621|
+----+-----+---+----+-----+-------+---------+---------+---------+---+----------+
only showing top 5 rows

Add labels (moved to a later step due to performance issues)

In [51]:
#storms = '/home/bcavna/Documents/ERA5/processed/processed_targets_20231118.csv'

In [52]:
custom_schema = StructType([
    StructField("cell",IntegerType(),False),
    StructField("YEAR",IntegerType(),False),
    StructField("MONTH",IntegerType(),False),
    StructField("DAY",IntegerType(),False)
])

In [53]:
#labelsDF = spark.read.schema(custom_schema).option("header","true").csv(storms)
#labelsDF.createOrReplaceTempView("labels")
#labelsDF.show(5)

In [54]:
#targetFeatures = spark.sql("SELECT a.YEAR,  a.MONTH,  a.DAY,  a.HOUR, a.cell_id, CASE WHEN b.YEAR IS NULL THEN 0 ELSE 1 END AS TARGET,  a.level,  a.q, a.t, a.u, a.v , a.w, a.r FROM cellFeatures a LEFT JOIN labels b ON a.cell_id = b.cell AND a.YEAR = b.YEAR AND a.MONTH = b.MONTH AND a.DAY = b.DAY ")
#targetFeatures.createOrReplaceTempView("targetFeatures")
#targetFeatures.show(5)

In [55]:
targetFeatures = spark.sql("SELECT a.YEAR,  a.MONTH,  a.DAY,  a.HOUR, a.cell_id,  a.level,  0 AS q, a.t, a.u, a.v , a.w, a.r FROM cellFeatures a WHERE a.DAY*1 > 30")
targetFeatures.createOrReplaceTempView("targetFeatures")
targetFeatures.show(5)

+----+-----+---+----+-------+-----+---+---------+---------+----------+---+---------+
|YEAR|MONTH|DAY|HOUR|cell_id|level|  q|        t|        u|         v|  w|        r|
+----+-----+---+----+-------+-----+---+---------+---------+----------+---+---------+
|2022|    1| 31|   0|    334|  100|  0|217.12411|16.703506| -10.30558|0.0|2.3212738|
|2022|    1| 31|   0|    271|  100|  0|216.67703| 16.82618|-10.507864|0.0|2.4696808|
|2022|    1| 31|   0|    145|  100|  0|216.02385|15.945942|-11.825727|0.0|2.7204437|
|2022|    1| 31|   0|    396|  100|  0| 217.0802| 17.06292|-10.480691|0.0|  2.33918|
|2022|    1| 31|   0|    100|  100|  0|216.10268| 15.75655|-10.947151|0.0| 2.692299|
+----+-----+---+----+-------+-----+---+---------+---------+----------+---+---------+
only showing top 5 rows

In [56]:
#checkTargets = spark.sql("SELECT  DISTINCT YEAR,  MONTH,  DAY, cell_id FROM targetFeatures WHERE TARGET = 1  ")
#checkTargets.show(10)

In [57]:
#ttl_rcrds = spark.sql("SELECT  COUNT(1) FROM targetFeatures")
#ttl_rcrds.show()

Get hourly files for smaller output

In [58]:
hourDF_00 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 0")
hourPD_00 = hourDF_00.toPandas()
hourPD_00.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,0,155,100,0,217.2097,17.609573,-8.515217,0.0,2.364769
1,2022,1,31,0,407,100,0,218.08136,22.219532,-6.0259175,0.0,2.0909805

In [59]:
hourDF_01 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 1")
hourPD_01 = hourDF_01.toPandas()
hourPD_01.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,1,105,100,0,217.15227,20.211555,-16.442026,0.0,2.3775635
1,2022,1,31,1,360,100,0,217.70071,20.932533,-9.553808,0.0,2.2214813

In [60]:
hourDF_02 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 2")
hourPD_02 = hourDF_02.toPandas()
hourPD_02.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,2,405,100,0,217.48111,21.696556,-9.141693,0.0,2.2854462
1,2022,1,31,2,289,100,0,216.45067,19.578815,-9.22472,0.0,2.5694733

In [61]:
hourDF_03 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 3")
hourPD_03 = hourDF_03.toPandas()
hourPD_03.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,3,104,100,0,212.95279,15.459549,-13.440979,0.0,3.9870605
1,2022,1,31,3,401,150,0,223.57144,17.953922,-18.931326,0.0,1.5408325

In [62]:
hourDF_04 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 4")
hourPD_04 = hourDF_04.toPandas()
hourPD_04.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,4,357,100,0,217.0937,18.3779,-14.34069,0.0,2.3698883
1,2022,1,31,4,400,100,0,217.2998,18.289661,-13.357952,0.0,2.3366241

In [63]:
hourDF_05 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 5")
hourPD_05 = hourDF_05.toPandas()
hourPD_05.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,5,373,100,0,214.78957,19.796185,-11.076975,0.0,3.188713
1,2022,1,31,5,426,125,0,220.62538,19.5164,-11.807613,0.0,1.8069534

In [64]:
hourDF_06 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 6")
hourPD_06 = hourDF_06.toPandas()
hourPD_06.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,6,276,100,0,216.95631,18.128246,-13.588919,0.0,2.3878021
1,2022,1,31,6,161,125,0,217.68832,19.996338,-15.561941,0.0,2.4466553

In [65]:
hourDF_07 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 7")
hourPD_07 = hourDF_07.toPandas()
hourPD_07.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,7,168,100,0,216.66125,21.031532,-13.611562,0.0,2.4287415
1,2022,1,31,7,242,100,0,215.66235,17.908726,-10.867144,0.0,2.7460327

In [66]:
hourDF_08 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 8")
hourPD_08 = hourDF_08.toPandas()
hourPD_08.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,8,150,100,0,216.24683,19.776814,-13.890835,0.0,2.5643616
1,2022,1,31,8,257,100,0,216.66238,19.744534,-12.912626,0.0,2.4236221

In [67]:
hourDF_09 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 9")
hourPD_09 = hourDF_09.toPandas()
hourPD_09.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,9,8,100,0,215.20963,18.479053,-16.31673,0.0,2.940506
1,2022,1,31,9,260,100,0,215.90785,19.208641,-11.917812,0.0,2.6795044

In [68]:
hourDF_10 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 10")
hourPD_10 = hourDF_10.toPandas()
hourPD_10.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,10,8,100,0,214.90443,20.297642,-16.786211,0.0,3.0428543
1,2022,1,31,10,29,125,0,217.04866,23.306381,-13.960276,0.0,2.7383575

In [69]:
hourDF_11 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 11")
hourPD_11 = hourDF_11.toPandas()
hourPD_11.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,11,32,100,0,214.2276,18.539314,-17.784044,0.0,3.3140945
1,2022,1,31,11,267,100,0,214.43031,16.940247,-14.037264,0.0,3.224533

In [70]:
hourDF_12 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 12")
hourPD_12 = hourDF_12.toPandas()
hourPD_12.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,12,168,100,0,216.56104,21.227383,-15.699312,0.0,2.4492111
1,2022,1,31,12,342,100,0,216.56891,20.020012,-14.369371,0.0,2.4492111

In [71]:
hourDF_13 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 13")
hourPD_13 = hourDF_13.toPandas()
hourPD_13.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,13,428,100,0,216.38197,18.748074,-13.6447735,0.0,2.5208588
1,2022,1,31,13,283,100,0,215.96754,15.933029,-16.146149,0.0,2.664154

In [72]:
hourDF_14 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 14")
hourPD_14 = hourDF_14.toPandas()
hourPD_14.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,14,394,100,0,215.92361,14.49107,-10.553151,0.0,2.6871796
1,2022,1,31,14,415,100,0,216.01822,14.693375,-10.201419,0.0,2.656479

In [73]:
hourDF_15 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 15")
hourPD_15 = hourDF_15.toPandas()
hourPD_15.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,15,439,100,0,215.75244,13.783005,-6.8516583,0.0,2.7434769
1,2022,1,31,15,188,100,0,215.1488,12.997459,-9.472291,0.0,2.966095

In [74]:
hourDF_16 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 16")
hourPD_16 = hourDF_16.toPandas()
hourPD_16.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,16,108,100,0,215.4878,16.931637,-12.965462,0.0,2.83815
1,2022,1,31,16,61,125,0,215.84366,16.918724,-16.380133,0.0,3.1349716

In [75]:
hourDF_17 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 17")
hourPD_17 = hourDF_17.toPandas()
hourPD_17.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,17,103,100,0,214.30531,13.957333,-7.774012,0.0,3.2577972
1,2022,1,31,17,439,100,0,214.98439,12.532589,-4.5842676,0.0,3.0147095

In [76]:
hourDF_18 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 18")
hourPD_18 = hourDF_18.toPandas()
hourPD_18.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,18,9,100,0,214.40892,14.960243,-5.6439934,0.0,3.227089
1,2022,1,31,18,127,125,0,218.15681,20.418163,-14.305969,0.0,2.4620056

In [77]:
hourDF_19 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 19")
hourPD_19 = hourDF_19.toPandas()
hourPD_19.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,19,299,100,0,216.67139,16.96392,-10.082162,0.0,2.4492111
1,2022,1,31,19,92,100,0,214.51816,17.164074,-4.7186203,0.0,3.188713

In [78]:
hourDF_20 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 20")
hourPD_20 = hourDF_20.toPandas()
hourPD_20.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,20,96,100,0,213.64313,18.989117,-3.2694225,0.0,3.5392685
1,2022,1,31,20,370,100,0,215.85942,14.844028,-6.755045,0.0,2.725563

In [79]:
hourDF_21 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 21")
hourPD_21 = hourDF_21.toPandas()
hourPD_21.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,21,156,100,0,214.01138,21.431839,-2.273099,0.0,3.398529
1,2022,1,31,21,55,100,0,213.20166,20.202946,-2.2142253,0.0,3.7183838

In [80]:
hourDF_22 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 22")
hourPD_22 = hourDF_22.toPandas()
hourPD_22.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,22,360,100,0,216.62521,19.710098,-9.537203,0.0,2.4696808
1,2022,1,31,22,165,100,0,212.60254,19.124706,-3.7464502,0.0,3.9947357

In [81]:
hourDF_23 = spark.sql("SELECT * FROM targetFeatures WHERE HOUR = 23")
hourPD_23 = hourDF_23.toPandas()
hourPD_23.head(2)

,YEAR,MONTH,DAY,HOUR,cell_id,level,q,t,u,v,w,r
0,2022,1,31,23,85,125,0,217.30994,22.299164,-7.4494524,0.0,2.5413284
1,2022,1,31,23,333,125,0,216.35269,18.283203,-13.244734,0.0,2.8790894

Split hourly data into daily to make the output even smaller (use pandas to help with varying number of days in each month)

In [82]:
daylist = list(range(1,32))
print(daylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]

In [83]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_00 = hourPD_00.query(qstring)
      suffix = yearmo *10000 + day*100
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_00.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010100.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010200.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010300.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010400.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010500.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010600.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010700.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010800.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010900.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011000.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011100.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011200.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011300.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011400.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011500.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011600.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011700.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011800.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011900.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012000.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012100.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012200.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012300.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012400.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012500.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012600.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012700.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012800.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012900.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013000.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013100.csv

In [84]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_01 = hourPD_01.query(qstring)
      suffix = yearmo *10000 + day*100 + 1
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_01.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010101.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010201.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010301.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010401.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010501.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010601.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010701.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010801.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010901.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011001.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011101.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011201.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011301.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011401.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011501.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011601.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011701.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011801.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011901.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012001.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012101.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012201.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012301.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012401.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012501.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012601.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012701.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012801.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012901.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013001.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013101.csv

In [85]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_02 = hourPD_02.query(qstring)
      suffix = yearmo *10000 + day*100 + 2
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_02.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010102.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010202.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010302.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010402.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010502.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010602.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010702.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010802.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010902.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011002.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011102.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011202.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011302.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011402.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011502.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011602.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011702.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011802.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011902.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012002.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012102.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012202.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012302.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012402.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012502.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012602.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012702.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012802.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012902.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013002.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013102.csv

In [86]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_03 = hourPD_03.query(qstring)
      suffix = yearmo *10000 + day*100 + 3
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_03.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010103.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010203.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010303.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010403.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010503.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010603.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010703.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010803.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010903.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011003.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011103.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011203.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011303.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011403.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011503.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011603.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011703.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011803.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011903.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012003.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012103.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012203.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012303.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012403.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012503.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012603.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012703.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012803.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012903.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013003.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013103.csv

In [87]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_04 = hourPD_04.query(qstring)
      suffix = yearmo *10000 + day*100 + 4
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_04.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010104.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010204.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010304.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010404.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010504.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010604.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010704.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010804.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010904.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011004.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011104.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011204.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011304.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011404.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011504.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011604.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011704.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011804.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011904.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012004.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012104.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012204.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012304.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012404.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012504.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012604.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012704.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012804.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012904.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013004.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013104.csv

In [88]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_05 = hourPD_05.query(qstring)
      suffix = yearmo *10000 + day*100 + 5
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_05.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010105.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010205.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010305.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010405.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010505.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010605.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010705.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010805.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010905.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011005.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011105.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011205.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011305.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011405.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011505.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011605.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011705.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011805.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011905.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012005.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012105.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012205.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012305.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012405.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012505.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012605.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012705.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012805.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012905.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013005.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013105.csv

In [89]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_06 = hourPD_06.query(qstring)
      suffix = yearmo *10000 + day*100 + 6
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_06.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010106.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010206.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010306.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010406.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010506.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010606.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010706.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010806.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010906.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011006.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011106.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011206.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011306.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011406.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011506.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011606.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011706.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011806.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011906.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012006.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012106.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012206.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012306.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012406.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012506.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012606.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012706.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012806.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012906.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013006.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013106.csv

In [90]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_07 = hourPD_07.query(qstring)
      suffix = yearmo *10000 + day*100 + 7
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_07.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010107.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010207.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010307.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010407.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010507.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010607.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010707.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010807.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010907.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011007.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011107.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011207.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011307.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011407.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011507.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011607.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011707.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011807.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011907.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012007.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012107.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012207.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012307.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012407.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012507.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012607.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012707.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012807.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012907.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013007.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013107.csv

In [91]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_08 = hourPD_08.query(qstring)
      suffix = yearmo *10000 + day*100 + 8
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_08.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010108.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010208.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010308.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010408.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010508.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010608.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010708.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010808.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010908.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011008.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011108.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011208.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011308.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011408.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011508.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011608.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011708.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011808.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011908.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012008.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012108.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012208.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012308.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012408.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012508.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012608.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012708.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012808.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012908.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013008.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013108.csv

In [92]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_09 = hourPD_09.query(qstring)
      suffix = yearmo *10000 + day*100 + 9
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_09.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010109.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010209.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010309.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010409.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010509.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010609.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010709.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010809.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010909.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011009.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011109.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011209.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011309.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011409.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011509.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011609.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011709.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011809.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011909.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012009.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012109.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012209.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012309.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012409.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012509.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012609.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012709.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012809.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012909.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013009.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013109.csv

In [93]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_10 = hourPD_10.query(qstring)
      suffix = yearmo *10000 + day*100 + 10
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_10.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010110.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010210.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010310.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010410.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010510.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010610.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010710.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010810.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010910.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011010.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011110.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011210.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011310.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011410.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011510.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011610.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011710.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011810.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011910.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012010.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012110.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012210.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012310.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012410.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012510.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012610.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012710.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012810.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012910.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013010.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013110.csv

In [94]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_11 = hourPD_11.query(qstring)
      suffix = yearmo *10000 + day*100 + 11
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_11.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010111.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010211.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010311.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010411.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010511.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010611.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010711.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010811.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010911.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011011.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011111.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011211.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011311.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011411.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011511.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011611.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011711.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011811.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011911.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012011.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012111.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012211.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012311.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012411.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012511.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012611.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012711.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012811.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012911.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013011.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013111.csv

In [95]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_12 = hourPD_12.query(qstring)
      suffix = yearmo *10000 + day*100 + 12
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_12.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010112.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010212.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010312.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010412.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010512.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010612.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010712.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010812.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010912.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011012.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011112.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011212.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011312.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011412.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011512.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011612.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011712.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011812.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011912.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012012.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012112.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012212.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012312.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012412.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012512.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012612.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012712.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012812.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012912.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013012.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013112.csv

In [96]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_13 = hourPD_13.query(qstring)
      suffix = yearmo *10000 + day*100 + 13
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_13.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010113.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010213.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010313.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010413.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010513.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010613.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010713.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010813.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010913.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011013.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011113.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011213.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011313.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011413.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011513.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011613.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011713.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011813.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011913.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012013.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012113.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012213.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012313.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012413.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012513.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012613.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012713.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012813.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012913.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013013.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013113.csv

In [97]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_14 = hourPD_14.query(qstring)
      suffix = yearmo *10000 + day*100 + 14
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_14.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010114.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010214.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010314.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010414.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010514.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010614.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010714.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010814.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010914.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011014.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011114.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011214.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011314.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011414.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011514.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011614.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011714.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011814.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011914.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012014.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012114.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012214.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012314.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012414.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012514.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012614.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012714.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012814.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012914.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013014.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013114.csv

In [98]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_15 = hourPD_15.query(qstring)
      suffix = yearmo *10000 + day*100 + 15
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_15.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010115.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010215.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010315.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010415.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010515.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010615.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010715.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010815.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010915.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011015.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011115.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011215.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011315.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011415.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011515.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011615.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011715.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011815.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011915.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012015.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012115.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012215.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012315.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012415.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012515.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012615.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012715.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012815.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012915.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013015.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013115.csv

In [99]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_16 = hourPD_16.query(qstring)
      suffix = yearmo *10000 + day*100 + 16
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_16.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010116.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010216.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010316.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010416.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010516.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010616.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010716.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010816.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010916.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011016.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011116.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011216.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011316.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011416.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011516.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011616.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011716.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011816.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011916.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012016.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012116.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012216.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012316.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012416.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012516.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012616.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012716.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012816.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012916.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013016.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013116.csv

In [100]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_17 = hourPD_17.query(qstring)
      suffix = yearmo *10000 + day*100 + 17
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_17.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010117.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010217.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010317.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010417.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010517.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010617.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010717.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010817.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010917.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011017.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011117.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011217.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011317.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011417.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011517.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011617.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011717.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011817.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011917.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012017.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012117.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012217.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012317.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012417.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012517.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012617.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012717.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012817.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012917.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013017.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013117.csv

In [101]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_18 = hourPD_18.query(qstring)
      suffix = yearmo *10000 + day*100 + 18
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_18.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010118.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010218.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010318.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010418.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010518.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010618.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010718.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010818.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010918.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011018.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011118.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011218.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011318.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011418.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011518.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011618.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011718.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011818.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011918.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012018.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012118.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012218.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012318.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012418.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012518.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012618.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012718.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012818.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012918.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013018.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013118.csv

In [102]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_19 = hourPD_19.query(qstring)
      suffix = yearmo *10000 + day*100 + 19
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_19.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010119.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010219.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010319.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010419.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010519.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010619.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010719.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010819.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010919.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011019.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011119.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011219.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011319.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011419.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011519.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011619.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011719.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011819.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011919.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012019.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012119.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012219.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012319.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012419.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012519.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012619.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012719.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012819.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012919.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013019.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013119.csv

In [103]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_20 = hourPD_20.query(qstring)
      suffix = yearmo *10000 + day*100 + 20
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_20.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010120.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010220.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010320.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010420.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010520.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010620.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010720.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010820.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010920.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011020.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011120.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011220.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011320.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011420.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011520.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011620.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011720.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011820.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011920.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012020.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012120.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012220.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012320.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012420.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012520.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012620.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012720.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012820.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012920.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013020.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013120.csv

In [104]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_21 = hourPD_21.query(qstring)
      suffix = yearmo *10000 + day*100 + 21
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_21.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010121.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010221.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010321.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010421.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010521.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010621.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010721.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010821.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010921.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011021.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011121.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011221.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011321.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011421.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011521.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011621.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011721.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011821.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011921.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012021.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012121.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012221.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012321.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012421.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012521.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012621.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012721.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012821.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012921.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013021.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013121.csv

In [105]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_22 = hourPD_22.query(qstring)
      suffix = yearmo *10000 + day*100 + 22
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_22.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010122.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010222.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010322.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010422.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010522.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010622.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010722.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010822.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010922.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011022.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011122.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011222.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011322.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011422.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011522.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011622.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011722.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011822.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011922.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012022.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012122.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012222.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012322.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012422.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012522.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012622.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012722.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012822.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012922.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013022.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013122.csv

In [106]:
def getBatch(daylist):
  for day in daylist:
      qstring = 'DAY == ' + str(day)
      #print(qstring)
      #print("")
      smaller_23 = hourPD_23.query(qstring)
      suffix = yearmo *10000 + day*100 + 23
      outpath = '/home/bcavna/Documents/ERA5/processed/smaller/ERA5_'+ str(suffix) + '.csv'
      print("outputting file to:",outpath)
      #print("")
      smaller_23.to_csv(outpath)
getBatch(daylist)

outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010123.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010223.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010323.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010423.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010523.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010623.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010723.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010823.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022010923.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011023.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011123.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011223.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011323.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011423.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011523.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011623.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011723.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011823.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022011923.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012023.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012123.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012223.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012323.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012423.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012523.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012623.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012723.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012823.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022012923.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013023.csv
outputting file to: /home/bcavna/Documents/ERA5/processed/smaller/ERA5_2022013123.csv